---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% comment %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

{% endcomment %}


{% include base_path %}

Articles
======

* M. Mucha, B. Wcisło, J. Pamin, and K. Kowalczyk-Gajewska. **Instabilities in membrane tension: Parametric study for large strain thermoplasticity**. Arch. Civ. Mech. Eng., 18(4):1055–1067, 2018. [article](https://www.sciencedirect.com/science/article/pii/S1644966518300086)

* M. Mucha, B. Wcisło and J. Pamin. **Simulation of a propagative instability in shear using gradient-enhanced and viscoplastic model**. Computer Methods in Materials Science, 19(2), 57-63, doi:10.7494/cmms.2019.2.0635, 2019. [article](https://www.cmms.agh.edu.pl/2019_2_0635/)

* M. Mucha, B. Wcisło and J. Pamin. **Simulation of Lueders bands using regularized large strain elasto-plasticity**. ARCHIVES OF MECHANICS, 73(1), 83–117, doi:10.24423/aom.3647, 2021. [article](https://am.ippt.pan.pl/index.php/am/article/view/v73p83/pdf)

* M. Polus, Z. Mucha, J. Mikosz, M. Mucha. **Composition and variability of the activated sludge biocenosis in membrane biological reactors**, Desalination and Water Treatment, 248, 39-48, doi:10.5004/dwt.2022.28102, 2022. [article](https://www.sciencedirect.com/science/article/pii/S1944398624014413)

* M. Mucha, B. Wcisło and J. Pamin. **Simulation of PLC effect using regularized large-strain elasto-plasticity**. Materials, 15(12), 1-21, doi:10.3390/ma15124327, 2022. [article](https://www.mdpi.com/1996-1944/15/12/4327)

* P. Bugajski, Z. Mucha, K. Jóźwiakowska, M. Mucha, W. Wójcik. **Reliability and probability of organic and biogenic pollutants removal in a constructed wetland wastewater treatment plant in the aspect of its long-term operation**, Desalination and Water Treatment, 278, 13-22. doi:10.5004/dwt.2022.29051, 2022. [article](https://www.sciencedirect.com/science/article/pii/S1944398624014413)

* M. Mucha, L. Rose, B. Wcisło, A. Menzel and J. Pamin. **Experiments and numerical simulations of Lueders bands and Portevin–Le Chatelier effect in aluminium alloy AW5083**. ARCHIVES OF MECHANICS, 75(3), 301–336, doi:10.24423/aom.4204, 2023. [article](https://am.ippt.pan.pl/index.php/am/article/view/v73p83/pdf)

* B. Wcisło, M. Mucha and J. Pamin. **Internal heat sources in large strain thermo-elasto-plasticity – theory and finite element simulations**. Journal of Theoretical and Applied Mechanics, 62(2), 293-306, doi:10.15632/jtam-pl/185614, 2024. [article](http://jtam.pl/Internal-heat-sources-in-large-strain-thermo-elasto--theory-and-finite,185614,0,2.html

* M. Mucha. **Analysis of Portevin Le Châtelier Effect Data using Diffferent Sample Entropy Measures**, Acta Mechanica et Automatica, 20, 710-718, doi:10.2478/ama-2025-0080, 2025. [article](https://reference-global.com/article/10.2478/ama-2025
